<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evo Calendar</title>

    <meta charset="utf-8">
    <meta name="description" content="Simple Modern-looking Event Calendar Plugin">
    <meta name="keywords" content="jQuery, Plugin, Event, Calendar, EvoCalendar">
    <meta name="author" content="Edlyn Villegas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./evo-calendar/css/evo-calendar.min.css">
    <link rel="stylesheet" type="text/css" href="./evo-calendar/css/evo-calendar.orange-coral.min.css">
    <link rel="stylesheet" type="text/css" href="./evo-calendar/css/evo-calendar.midnight-blue.min.css">
    <link rel="stylesheet" type="text/css" href="./evo-calendar/css/evo-calendar.royal-navy.min.css">

    <link rel="stylesheet" type="text/css" href="./demo/demo.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">
</head>
<body>
   
            <section id="demos">
                <div class="section-content">
                    <p class="section-title --shrt">School Calendar</p>
                    <div class="action-buttons">
                        <p class="section-desc">keep me updated !</p>
                        <button class="btn-action active" data-set-theme="Default">DEFAULT</button>
                        <button class="btn-action" data-set-theme="Midnight Blue">MIDNIGHT BLUE</button>
                        <button class="btn-action" data-set-theme="Royal Navy">ROYAL NAVY</button>
                        <button class="btn-action" data-set-theme="Orange Coral">ORANGE CORAL</button>
                    </div>
                    <div class="console-log">
                        <div class="log-content">
                            <div class="--noshadow" id="demoEvoCalendar"></div>
                        </div>
                    </div>
                    <div class="action-buttons">
                        <button class="btn-action" id="addBtn">ADD EVENT</button>
                        <button class="btn-action" id="removeBtn" disabled>REMOVE EVENT</button>
                    </div>
                </div>
            </section>

      

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="./evo-calendar/js/evo-calendar.min.js"></script>
    <script src="./demo/demo.js"></script>
</body>
</html>